/* Variable */

:root {
    --theme-nav1: rgb(255, 72, 52);
    --theme-nav1-color: #fefefe;
    --theme-nav2: rgb(255, 223, 159);
    --theme-nav2-color: #1f1f1f;
    --theme-nav3: #1f1f1f;
    --theme2: #1f1f1f;
    --theme2-color: #f7f7f7;
    --wallpaper: url('../image/wallpaper.jpg');
    --linear-wallpaper: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53));
    --profil: url('../image/profil.jpg');
    --linear-profil: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

/* Style Script */

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
}

p {
    text-indent: 2em;
}

/* Navigation Bar */
.active {
    border-bottom: 3px solid #1f1f1f;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0 1rem;
}

nav ul li {
    margin: 0 2em 0 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}

.up-nav {
    background-color: var(--theme-nav1);
    color: var(--theme-nav1-color);
}

.up-nav .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.down-nav {
    background-color: var(--theme-nav2);
    color: var(--theme-nav2-color);
}

.down-nav .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#creator-nav {
    background-color: var(--theme-nav3);
    padding: 1rem;
}

nav ul li a:hover {
    font-weight: bold;
}

/* Header */

header {
    width: 100%;
    height: 15em;
    background: var(--linear-wallpaper), var(--wallpaper);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
}

header.creator {
    height: 100vh;
    flex-direction: column;
}

.profil-img {
    width: 15em;
    height: 15em;
    aspect-ratio: 1/1;
    margin: 1em;
    background: var(--linear-profil), var(--profil);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    outline: 0.5em solid #0009;
    outline-offset: 0.5em;
    transition: 0.3s;
}

.profil-img:hover {
    width: 14em;
    height: 14em;
    background: var(--linear-wallpaper), var(--profil);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: 0.25em solid #f7f7f7;
    outline-offset: 0.25em;
}

header.creator h2 {
    color: #dfdfdf;
    transition: 0.3s;
}

header.creator h2:hover {
    color: #ffffff;
}

/* Content */

.content {
    padding: 2.5rem 0;
}

.child-content {
    margin: 2.5em 0;
}

.child-list {
    padding-left: 2em;
    list-style: circle;
}

.h1-content {
    padding: 0.3em;
    background-color: #1f1f1f;
    color: #f7f7f7;
}

.h-content {
    display: inline-block;
    padding: 0.3em;
    margin: 0.3em 0;
    border: 3px solid #1f1f1f;
    color: #1f1f1f;
}

.content .no-list {
    list-style: none;
}

.content .cover-article {
    display: block;
    width: 80%;
    margin: 1em;
    border-radius: 1em;
}

/* Footer */

footer {
    padding: 2.5rem 0;
    background-color: var(--theme2);
    color: var(--theme2-color);
}

footer ul {
    list-style: none;
    color: #c0c0c0;
}

footer a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}

footer a:hover {
    color: #f7f7f7;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.copyright {
    padding: 1em;
    background-color: var(--theme2);
    color: var(--theme2-color);
    border-top: 1px solid var(--theme2-color);
}

.copyright a {
    text-decoration: none;
    color: inherit;
}


/* RESPONSIvE */
/* Navigation Bar Responsive */
/* 
@media only screen and (min-width: 781){

} */

@media (max-width: 780px) and (min-width: 1px) {
    nav #creator-nav {
        display: none;
    }

    nav .up-nav,
    nav .down-nav {
        padding: 1rem;
    }

    @media (max-width: 410px) and (min-width: 1px) {
        header.creator {
            background: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53)), var(--profil);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            justify-content: flex-end;
            align-items: center;
        }

        header .profil-img {
            display: none;
        }

        header.creator h1,
        header.creator h2 {
            font-size: 1.5em;
            margin-left: 0.5em;
        }
    }

    @media (max-width: 380px) and (min-width: 1px) {
        footer .container {
            display: flex;
            flex-direction: column;
        }

        footer .container .col {
            margin: 2rem 0;
        }
    }
}